@page "/"

<h1>Bem vindos a aplicação</h1>

<h1>Exemplo do uso de Blazor (ASP.NET)</h1>


@code
{
    /*public Usuario usuario =null;

    public IList<Usuario> TodosUsuarios = new List<Usuario>();

    protected override async Task OnInitializedAsync()
    {
        usuario = new UsuarioDAO().BuscarUsuario(2);

        TodosUsuarios = new UsuarioDAO().BuscarUsuarios();
    }*/
}