@page "/Principal"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavManager

@if(UsuarioLogado!=null)
{
    <h1>@UsuarioLogado.USUNOMECOMPLETO Bem vindos a aplicação </h1>
}
<h1>Exemplo do uso de Blazor (ASP.NET)</h1>


@code
{
    public Usuario UsuarioLogado = null;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                UsuarioLogado = await localStorage.GetItemAsync<Usuario>("UsuarioLogado");
            }
            catch
            {
                NavManager.NavigateTo("/Login");                    
            }
            StateHasChanged();
        }
    }
}