@page "/"
@page "/Login"
@using ProjetoBlazor
@layout EmptyLayout
@inject NavigationManager NavManager
@inject IJSRuntime JS;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first" style="font-size:40px;">
        Acesso ao Sistema
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" @bind="txtLogin" class="fadeIn second" name="login" placeholder="login">
      <input type="password" id="password" @bind="txtSenha" class="fadeIn third" name="login" placeholder="password">
      <input type="button" class="fadeIn fourth" value="Entrar no Sistema" @onclick="Logar"> 
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>

<!-- Modal de Campos Obrigatórios -->
<div class="modal fade" id="ModalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atenção</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Usuário ou Senha Inválidos
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@code
{
    public string txtLogin = "";
    public string txtSenha = "";
    public void Logar()
    {
        Usuario usuario = new UsuarioDAO().BuscarUsuarioByLogin(txtLogin,txtSenha);
        if(usuario!=null)
        {
          localStorage.SetItemAsync<Usuario>("UsuarioLogado", usuario);
          
          NavManager.NavigateTo("/Principal");  
        }else
        {
          JS.InvokeAsync<string>("ShowModal", "ModalAlert","");
        }
    }
}