@import '';

/* _content/ProjetoBlazor/Pages/Login.razor.rz.scp.css */

/* BASIC */

html[b-dmgnpxgddd] {
    background-color: #56baed;
  }
  
  body[b-dmgnpxgddd] {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  a[b-dmgnpxgddd] {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2[b-dmgnpxgddd] {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper[b-dmgnpxgddd] {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent[b-dmgnpxgddd] {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter[b-dmgnpxgddd] {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive[b-dmgnpxgddd] {
    color: #cccccc;
  }
  
  h2.active[b-dmgnpxgddd] {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button][b-dmgnpxgddd], input[type=submit][b-dmgnpxgddd], input[type=reset][b-dmgnpxgddd]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover[b-dmgnpxgddd], input[type=submit]:hover[b-dmgnpxgddd], input[type=reset]:hover[b-dmgnpxgddd]  {
    background-color: #39ace7;
  }
  
  input[type=button]:active[b-dmgnpxgddd], input[type=submit]:active[b-dmgnpxgddd], input[type=reset]:active[b-dmgnpxgddd]  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text][b-dmgnpxgddd], input[type=password][b-dmgnpxgddd] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus[b-dmgnpxgddd] {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder[b-dmgnpxgddd] {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown[b-dmgnpxgddd] {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown-b-dmgnpxgddd;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown-b-dmgnpxgddd {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn-b-dmgnpxgddd { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn[b-dmgnpxgddd] {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn-b-dmgnpxgddd ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first[b-dmgnpxgddd] {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second[b-dmgnpxgddd] {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third[b-dmgnpxgddd] {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth[b-dmgnpxgddd] {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover[b-dmgnpxgddd]:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover[b-dmgnpxgddd] {
    color: #0d0d0d;
  }
  
  .underlineHover:hover[b-dmgnpxgddd]:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus[b-dmgnpxgddd] {
      outline: none;
  } 
  
  #icon[b-dmgnpxgddd] {
    width:60%;
  }
  
/* _content/ProjetoBlazor/Shared/MainLayout.razor.rz.scp.css */
.page[b-gx7q6ywstp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-gx7q6ywstp] {
    flex: 1;
}

.sidebar[b-gx7q6ywstp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-gx7q6ywstp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-gx7q6ywstp]  a, .top-row .btn-link[b-gx7q6ywstp] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-gx7q6ywstp] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-gx7q6ywstp] {
        display: none;
    }

    .top-row.auth[b-gx7q6ywstp] {
        justify-content: space-between;
    }

    .top-row a[b-gx7q6ywstp], .top-row .btn-link[b-gx7q6ywstp] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-gx7q6ywstp] {
        flex-direction: row;
    }

    .sidebar[b-gx7q6ywstp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-gx7q6ywstp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-gx7q6ywstp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/ProjetoBlazor/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-n5qa5l36nw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-n5qa5l36nw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-n5qa5l36nw] {
    font-size: 1.1rem;
}

.oi[b-n5qa5l36nw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-n5qa5l36nw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-n5qa5l36nw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-n5qa5l36nw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-n5qa5l36nw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-n5qa5l36nw]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-n5qa5l36nw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-n5qa5l36nw] {
        display: none;
    }

    .collapse[b-n5qa5l36nw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
